body {
  background-image: url(https://github.com/codefellows/seattle-201n8/blob/master/class-06-dom-objects-domain_modeling/assets/salmon.png?raw=true);
  background-color: #F4BAC8;
  background-repeat: no-repeat;
  background-position: top;
  
}
header{
  margin-left: 500px;
}


section {
  border: 5px solid black;
  margin: 10px;
  height: 400px;
  width: 300px;
  margin-top: 250px;
  background-color: #7288B9;

}

#a {
  display:block;
  float:right;
  margin-right: px;
  background-color:#7288B9;

}

#b {
  display: block;
  margin-right:
  background-color: #7288B9;
}

#c {
  display: block;
  background-color: #7288B9;

}

/*table, #Table {
  border: 5px solid black;
  text-align: center;*/
}
