body {
  background-image: url(https://github.com/codefellows/seattle-201n8/blob/master/class-06-dom-objects-domain_modeling/assets/salmon.png?raw=true);
  background-position: top;
  background-color: #F4BAC8;
  background-repeat: no-repeat;

}
header{
  margin-left: 500px;
}


section {
  border: 5px solid black;
  margin: 10px;
  height: 800px;
  width: 300px;
  margin-top: 50px;
}

#a {
  display:block;
  float:right;
  margin-right: px;
  background-color: 

}

#b {
  display: block;
  margin-right:
}

#c {
  display: block;

}
