body {
  background-image: url(https://github.com/codefellows/seattle-201n8/blob/master/class-06-dom-objects-domain_modeling/assets/salmon.png?raw=true);
  background-color: #F4BAC8;
  background-repeat: no-repeat;
  background-position: top;

}
header{
  margin-left: 500px;
}

#Cookies {
  border: 5px black solid;
  margin: 20px;
  text-align: center;
  height: 200px;
  width: 300px;
  padding: 10px;
  display: inline-block;
  margin-top: 300px;
  background-color: #7288B9
}

ul {
  border: 5px black solid;
  background-color: #7288B9;
  text-align: center;
}

li {
  display: inline;
  margin-right: 10px;
}

table {
  border: 5px black solid;
}
